* {
	box-sizing: border-box;
}

body {
  background-image: url("../img/burger-time.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff
}

.container {
  position: relative;
  top: 80px;
}

#input {
  text-align: center;
}

#bu {
  margin-bottom: 5px;
  height: 60px;
  width: 220px;
}

h1 {
  text-align: center;
  color: blue;
}

p {
  text-align: center;
  color: blue;
}
